html {
    background-color: rgb(59, 59, 59);
}

body {
    padding: 0px;
    margin: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calc-frame{
    height: 600px;
    width: 500px;
}

#gui {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(5, 1fr);
    height: 100%;
}

.button{
    background-color: rgb(121, 121, 121);
    color: rgb(240, 240, 240);
    border-radius: 8px;
    border: none;
    font-size: 22px;
}

.button:hover {
    background-color: rgb(80, 80, 80);
}

#display {
    display: flex;
    color: rgb(240, 240, 240);
    border: 3px solid rgb(136, 136, 136);
    font-size: 43px;
    border-radius: 8px;
    
    align-items: center;
    justify-content: right;
    
    grid-column-start: 1;
    grid-column-end: 5;
}

#clear-button {
    grid-column-start: 1;
    grid-column-end: 3;
}

#equals-button {
    grid-column-start: 3;
    grid-column-end: 5;
}

