* {
    border: 2px solid red;
}

body {
    padding: 0px;
    margin: 0px;
}

#calc-frame{
    height: 600px;
    width: 500px;
}

#gui {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
}

#display {
    grid-column-start: 1;
    grid-column-end: 5;
}

#clear-button {
    grid-column-start: 1;
    grid-column-end: 3;
}

#equals-button {
    grid-column-start: 3;
    grid-column-end: 5;
}

