body {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(59, 59, 59);
}

#calc-frame{
    height: 600px;
    width: 500px;
}

#gui {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
}

.button{
    background-color: rgb(136, 136, 136);
    border-radius: 8px;
    border: none;
    font-size: 22px;
}

.button:hover {
    background-color: rgb(80, 80, 80);
}

#display {
    grid-column-start: 1;
    grid-column-end: 5;
}

#clear-button {
    grid-column-start: 1;
    grid-column-end: 3;
}

#equals-button {
    grid-column-start: 3;
    grid-column-end: 5;
}

